Allow inhibition of Content-Type sniffing of media

The storage/v1 API allows the user to specify `ContentType` as a part of [Object metadata](https://godoc.org/google.golang.org/api/storage/v1#Object). However, despite selecting that, users will instead get whatever [`Media`](https://godoc.org/google.golang.org/api/storage/v1#ObjectsInsertCall.Media) auto-sniffs by default. There is no way to specify not to auto-sniff, as specifying an empty [`MediaOption.ContentType`](https://godoc.org/google.golang.org/api/googleapi#ContentType) will just cause auto-sniffing. Instead, the user has to inspect the object metadata, and explicitly override the guessed type, as the service prefers the latter. We'd like to make it strict and disallow mismatches, but this will break many existing Go users who are providing `ContentType` and having the `Media` class sniff a different type.

In lieu of creating some new discovery model for mapping metadata ContentType for automatic use by Media methods in any language client, please at least allow for disabling the sniffing and just omitting providing a `ContentType` in either the multipart 2nd part or the `X-Upload-Content-Type` header of the resumable session.

```go
  contentType := "text/x-go"
  contentType2 := "text/x-go-faster"
  result, err := svc.Objects.Insert("BUCKET_NAME",
      &storage.Object{Name: "insert.go", ContentType:contentType}).Media(
      file, googleapi.ContentType(contentType2)).Do()
```

If you run the above today, you will get `contentType2` as the type without warning. If you omit the media option, you will `text/plain; charset=utf-8` as a part of autosniffing.

Have you tried https://godoc.org/google.golang.org/cloud/storage instead of using the low-level API?


But assuming you want to use the low-level API: we'd have to see whether there's information in the API's JSON file to tell us that the two ContentTypes are even related to each other.

/cc @mcgreevy 

I'll take a look.

I can tell you now: there is nothing in discovery that can help us here.

I would like to ensure, however, that https://godoc.org/google.golang.org/cloud/storage does the right thing as well.

It would be pretty straightforward to make googleapi.ContentType("") return a MediaOption which disables sniffing.  This would provide users with a way to shoot themselves in the foot if they unintentionally cause ContentType or X-Upload-Content-Type to be omitted, but with decent documentation this might be OK.

I believe that  https://godoc.org/google.golang.org/cloud/storage does the right thing, but haven't yet checked.  It should be easy to fix if there are any issues.

The behavior of the uploader service is to interpret content as `application/octet-stream` when a Content-Type is not provided per [RFC 7231 §3.1.15](https://tools.ietf.org/html/rfc7231#section-3.1.1.5), but it also indicates whether or not it was explicitly provided by the caller. Thus GCS can ignore that default and use the Content-Type provided by metadata.

OK, that's good to know.  I haven't had a chance to work on this today, but I expect that tomorrow I should be able to send out a change which omits Content-Type for googleapi.ContentType("").

 https://code-review.googlesource.com/4276 is out for review.

Looking at the cloud/storage code, it explicitly sets the content-type header to the value of the object's ContentType field, so I don't believe any changes are required there.

/cc @okdave 

In cloud/storage we use a googleapi.ContentTyper which unconditionally set to use the content type from the attributes. So, that won't be affected by change 4276.

However, it would be to clean up the documented contact for NewWriter and make sure that is enforced by tests.

Reassigning to okdave for the NewWriter work.

Closing in lieu of GoogleCloudPlatform/gcloud-golang#221

Re-opening given GoogleCloudPlatform/gcloud-golang#306.

We should investigating adding some hard-coded logic so that developers don't need to explicitly pass `googleapi.ContentType("")` if they had set the `ContentType` on the `*storage.Object`. The number of APIs using media upload is small enough that it is tractable for us to hand-audit the uses.

I just did a manual audit of the APIs. As far as I can tell `storage/*` are the only APIs which have `ContentType` as an JSON field on a media-upload method.

Only one API has both media upload + JSON objects with `ContentType`: [mirror](https://godoc.org/google.golang.org/api/mirror/v1#Attachment). However, the insert call for in that API doesn't actually accept a JSON object (it's only on the get request).